# Build products
*.cmi
*.cmo
*.cmx
*.o
.depend
/doc/

# Executables
/bsg
/bsg-dbg
/gen-bsg
/find-gadgets
/tanglegram
/tanglegram-dbg

# Profiling, crashes, editor backups
gmon.out
core
*~
*.old
*.bak

# Output of find-bug.sh
/test.graph
